body {
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	background: #dacb14;
	color: #333;
	
}
header, footer, nav {
	background: #333;

}
p { 
color: #5f0a0a;

 }
h1, nav {
	color: #422d2d;
	text-align: center;
	margin: 0px;
	margin-bottom: 1px;
	padding: 20px 0;
	font-size: 28px;
	background-color: #5c628c;
	
}
h2 {
	text-align: center;
	font-size: 24px;
	border-style: solid;
	border-color: blue;
	border-width: 10px

}
h3 {
	font-size: 24px;
	border-style: solid;
	border-width: 10px;	
	border-color: blue;
}
h4 {
	color: black;

}
a {
	color: #5f0a0a;
}
a:hover {
    color: red;
    background-color: black;
}
.container {
	width: 1024px;
	margin: 0 auto;
}


.section1 {
	width: 70%;
	float: left;
	border-style: solid;
	border-color: red;
	border-right: 25%;
	background-color: #c56262;
	margin-left: -163px;
}

.section2 {
	width: 44%;
	float: right;
	background-color: #c56262;
	border-style: solid;
	border-color: darkgreen;
	margin-right: 7px;
}

#bioimage {
	width: 200px;
	height: 200px;
	margin-right: 20px;
}
footer{
	clear:left;
	text-align: center;
	padding: 20px 0;
	margin-top: 50%;
	margin-bottom: 0;
	background: #5c628c;
}
.soccer{
	color: #151414;
	background: #c56262;
	width: 45%;
	text-align: center;
	float: right;
	border-style: solid;
	border-color: yellow;


}
